.projects-section {
  padding: 10rem 0;
  .featured-text {
    padding: 2rem;
    @media (min-width: 992px) {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid $primary;
    }
  }
  .project-text {
    padding: 3rem;
    font-size: 90%;
    @media (min-width: 992px) {
      padding: 5rem;
      hr {
        border-color: $primary;
        border-width: .25rem;
        width: 30%;
      }
    }
  }

  .main {
    box-shadow: 2px 1px 8px -1px rgba(0,0,0,0.36);
    width: 100%;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
